* {  padding: 0; margin: 0; border: 0;}
*,*::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active {outline: none;}
a:focus,a:active {outline: none;}
header,footer,nav {display: block;}
h1,h2,h3,h4,h5,h6 {font-size: inherit; font-weight: 400;}
input,button,textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a,a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
html,body {
width: 100%;
height: 100%;
font-size: 100%;
line-height: 1;
font-size: 14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}

h1 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: auto;
   
    font-size: 16px;
    background-color: #f7f7f7;
}
main {
  display: flex;
  justify-content: center;
 
}
.overflow {
    overflow: hidden;
}
.header {  
    width: 100%;
  display: flex;
  justify-content: center;
}
.header__hidden {
    display: none;
}
.header__up {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}
.up__items ul {
    display: flex;
    gap: 20px;
}

.up__items ul a {
    font-size: 13;
    font-family: inherit;
    color: #37474f;
}
.up__items ul a:hover {
  
    color: #0dac49;
}
.sign__img {
    margin-right: 5px;
}
.sign__in {
    display: flex;
    align-items: center;
}
.sign__in button {
    font-size: 13;
    font-family: inherit;
    color: #667780;

}
.sign__in button:hover {
    color: #0dac49;
}
.conteiner {
    width: 100%;
    height: auto;
    max-width: 1200px;
}
.header__content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin:0 0 30px 0;
    width: 100%;
    height: auto;
}
.header__logo {
    display: flex;
    align-items: center;
}
.header__phone {
    display: flex;
    align-items: center;
}
.phone__icon {
    display: flex;
    position: relative;
    flex-direction: column;
}
.phone__icon span {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}
.phone__icon span::before {
    content: "";
    position: absolute;
    background: url(../img/phone.svg) 0 0 no-repeat;
    width: 16px;
    height: 32px;
    left: -15%;
    margin-top: 5px;
}
.phone__icon a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #0dac49;
}
.phone__icon a:hover {
    cursor: pointer;
}

.header__search {
    margin-top: 10px;
    width: 370px;
}
.header__search input {
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    padding: 0 35px;
    box-shadow: 0 1px 4px rgba(0,0,0,.15);
    z-index: 9;
}
.header__search i {
    color: #0dac49;
    font-size: 20px;
    position: absolute;
    margin: 15px 0 0 -35px;
    z-index: 10;
}

/* Modal-3 */
.record  {
    display: flex;
    align-items: center;
}
.record a {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
    padding: 19px 30px;
    letter-spacing: 0.05em;
    border-radius: 25px;
    background-color: #0dac49;
    color: white;
    text-transform: uppercase ;
    transition: all .6s;
}
.record a:hover {
    background-color: rgb(32, 124, 10);
    transition: all .6s;
    cursor: pointer;
}
.modal__docotor {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
    background-color: rgba(0, 0, 0, 0.69);
}
.modal__docotor .modal__window {
    width: 1100px;
    min-height: 550px;
    height: auto;

}
.modal__docotor .modal__item {
    padding: 0 0;
    height: 550px;
    display: flex;
    text-align: center;
    justify-content: space-between;
   
    
}
.modal__docotor .modal__title {
    width: 100%;
    /* position: absolute; */
    z-index: 5;
    padding: 30px 0;
    border-bottom: 1px solid #e2e2e2;
}
.modal__docotor .modal__title h2 {
    font-family: inherit;
    letter-spacing: 0.15em;
    margin: 0;
}
.modal__content {
  width: 100%;
  height: 100%;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.modal__content label {
    text-align: left;
    justify-content: left;
    align-items: center;
    display: flex;
    width: 550px;
    height: 60px;
    border: 1px solid #e2e2e2;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    box-shadow: 0 0 5px #9ba7ae;
}
.modal__content label:last-child {
    height: max-content;
}
.modal__content label input {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.modal__content h3 {
    color: #344248;
    font-family: inherit;
    font-weight: 500;
    
}
.content__doctor  p {
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    opacity: 0.8;
}

.doctor__footer {
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    border-top: 1px solid #e2e2e2;
    background-color: #f5f2f7;
}
.btn__doctor {
    font-family: inherit;
    font-weight: 500;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    margin-right: 150px;
    background-color: #0dac49;
    z-index: 10;
}
.btn__doctor:hover {
    cursor: pointer;
    background-color: #26522d;
}
.fav__bask {
    display: flex;
    align-items: center;
    gap: 10px;
}
.fav__bask a {
    font-size: 30px;
    color: #959796;
}
/* Modal */
.modal__callback {
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
    background-color: rgba(0, 0, 0, 0.69);
    transition: left .3s ease;
}

.callback__wrapper {
    display: flex;
    justify-content: right;
   
}
.callback__window {
    position: relative;
    width: 510px;
    height: 100vh;
    background-color: rgb(255 255 255);
}
.callback__window form {
    margin: 10px 0;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

}
.callback__window input {
    padding: 0 30px;
    color: rgb(60, 59, 59);
    width: 450px;
    height: 50px;
    margin: 15px 0 5px 0;
    background-color: #ededed;
    border-radius: 5px;
    border: 2px solid #37474f;
    border-color: rgba(142, 142, 142, 0.25);
   
}
.callback__window input:focus {
    border: 2px solid #37474f;
    border-color: rgba(48, 242, 87, 0.25);
}
.callback__window button {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    width: 450px;
    height: 50px;
    margin: 15px 0 5px 0;
    background-color: #0dac49;
    color: #FFF;
    border-radius: 5px;
}
.callback__window button:hover {
    background-color: #26522d;
}
.callback__header {
    text-align: center;
    height: 100px;
    padding: 20px;
    border-bottom: 1px solid rgba(82,92,105,0.11);
}
.callback__header h2 {
    font-family: inherit;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #0c0c0c;
    margin-bottom: 10px;

}
.callback__header p {
    font-family: inherit;
    color: #222c34;
    margin-bottom: 20px;
}
.line {
    position: absolute;
    font-size: 0;
    background-color: #0dac49;
    width: 100%;
    height: 7px;
    bottom: 1%;
}
/*! /.Modal */
/*! Nav */
.header__nav {
    background-color:white;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 4px rgba(0,0,0,.15);
}
.nav__item {
    width: 100%;
    display: flex;
    align-items: center;
}
.nav__list {
    width: 100%;
    display: flex;
}
.nav__link {
    margin: 0;
}
.menu__link {
    width: 100%;
    height: auto;
}
.nav__link a {
    width: 100%;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    color:  #37474f;
    font-weight: 500;
    text-transform: uppercase ;
    transition: all .6s;
}
.nav__list a:hover {
    color: #44c776;
    
}


.nav__list .nav__link__kids {
    color: #a6329a;
    font-weight: 900;
}
.nav__link {
    width: 100%;
    height: 20px;
    
    text-align: center;
    border-left: 1px solid #eaeced;
}
.nav__link:first-child {
    border-left: none;
}
/* === */
.sub__menu {
    opacity: 0;
    height: 20px;
    width: 100%;
    visibility: hidden;
}
.nav__sub-list-top {
    transform: translate(0px, 15%);
    padding: 0 180px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    position:absolute;
    z-index: 20;
    background-color: #f5f2f7; 
}
body .nav__list > li:hover .sub__menu {
    opacity: 1;
    visibility: visible;
    pointer-events: all;

}
.nav__sub-list-top a {
    margin-bottom: 20px;
}
.nav__sub-list-top img {
    width: 70px;
}

.nav__sub-list-top span {
    color: #37474f;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.nav__sub-list-top  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-right: 1px solid rgba(0,0,0,.1);
}
.nav__sub-list-top  li:last-child {
    border: none;
}
.sub__menu-bot {
    display: flex;
    width: 100%;
    padding: 0 180px;
    height: 450px;
    background-color: #FFF;
    position: absolute;
    justify-content: space-around;
    left: 0;
    bottom: 81.45%;
    z-index: 20;
}
.nav__sub-list-top span {
    cursor: default;
}
.sub__colection, .sub__brands, .sub_humans {
    width: 150px;
    padding: 20px;
}

.sub_access {
    width: 300px;
    padding: 20px;
}
.sub__sertificat, .sub__accessori {
    margin-bottom: 10px;
}
.sub__sertificat a {
    font-size: 16px;
    font-weight: 600;
    font-family: inherit;
    color: #0dac49;
   
}

.sub__accessori a {
    font-size: 16px;
    font-weight: 600;
    font-family: inherit;
    color: #0dac49;
}
.sub__colection, .sub__brands, .sub_humans, h2 {
    font-family: inherit;
    color: #37474f;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}
.sub__colection, .sub__brands, .sub_humans, li {
    margin-bottom: 10px;
}
.sub__colection, .sub__brands, .sub_humans, li:last-child {
    margin-bottom: 0;
}
@media (max-width:1199px){
    .header__up {
        display: none;
    }
    .header__content {
        display: none;
    }
    .nav__sub-list-top {
        padding: 0;
        
    }
    .sub__menu-bot {
        padding: 0;
        height: 300px;
        bottom: 88.50%;
    }
}
@media (max-width:992px){
    .header__up {
        display: none;
    }
    .nav__link {
        display: none;
    }
    
}
@media (max-width:992px){

    .menu__icon {
        z-index: 35;
        display: block;
        position: absolute;
        width: 25px;
        height: 18px;
        /* top: 0; */
        right: 5%;
        cursor: pointer;
       
    }
    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 100%;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all .3s ease 0s;
        background-color: rgb(98, 94, 94);

    }
    .menu__icon::before,
    .menu__icon::after {
       content: "";
    }
    .menu__icon::before {
        top: 0;
    }
    .menu__icon::after {
        bottom: 0;
    }
    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }
    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    
}
/* !Modal-burger */
.modal__burger {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 21;
    background-color: rgba(0,0,0,.5);
    overflow-x: hidden;
}
.burger__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
}
.burger__window {
    
    width: 550px;
    height: 920px;
    background-color: #fff;
}
.burger__logo {
    padding: 20px 20px;
    background-color: #f5f2f7;
}
.burger__nav {
    padding: 10px 20px;
}

.burger__nav li {
    margin: 15px 0;
}
.burger__nav li:last-child {
    margin-bottom: 0;
}
.burger__nav li a {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #667780;
    transition: all .4s;
}

.burger__nav li a:hover {
    color: #0dac49;
    transition: all .4s;
}
.burger__nav li a::after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    margin-right: 60px;
    margin-top: 4px;
    border: 1px solid #332d40;
    border-top: none;
    border-right: none;
    transform: rotate(-135deg);
    right: 0;
}
.burger__sign {
    padding: 10px 20px;   
}
.burger__sign form {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.burger__sign form input {
    width: 250px;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
    box-shadow: 0 0 5px #667780;
    margin-bottom: 10px;
}
.burger__sign form button {
    text-transform: uppercase;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    background-color: #0dac49;
    color: #fff;
    transition: all .4s;
}
.burger__sign form button:hover {
    background-color: #26522d;
    transition: all .4s;
}
.burger__cabinet {
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin: 20px 0;
    border-top: 1px solid #a6a8aa;
    border-bottom: 1px solid #a6a8aa;
}
.burger__sign a {
    font-size: 18px;
    font-weight: 500;
    color: #000;
}
.burger__cabinet .sign__img img {
    width: 20px;
    height: 20px;
    margin-right: 10px ;
}
.burger__cabinet button {
    color: #667780;
    font-family: inherit;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.05em;
    width: 100px;
    height: 30px;
    background-color: #FFF;
    transition: all .4s;
}
.burger__cabinet button:hover {
    color: #0dac49;
    transition: all .4s;
}
.burger__info {
    padding: 10px 20px;
}
.burger__info {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .4s;
}
.burger__info a {
   color: #667780;
   transition: all .4s;
}
.burger__info a:hover {
    color: #0dac49;
    transition: all .4s;
 }

 @media (max-width:992px){
    .modal__burger {
        width: 100%;
       
    }
 }
 @media (min-width:992px){
    .modal__burger {
        display: none;
       
    }
 }
/* /.Modal-burger */
/* /.Nav */
/* Main */
/* !Slaider1 */
.slide {
    display: flex;
    margin-bottom: 30px;
   
   
}
.slider {
    
    width: 870px;
    position: relative;
    overflow: hidden;
    justify-content: center;
 }

 .slick-list {
   
    overflow: hidden;
  
}

.slider .slider__item img {
    max-width: 870px;
    object-fit: cover;
}
.slick-track{
    display: flex;
    
    align-items: flex-start;
}
.slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    z-index: 15;
    font-size: 0;
}

.slider .slick-dots {
    margin-top: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
}

.slider  .slick-dots li{
    list-style: none;
    padding: 0 15px;
    
}

.slider  .slick-dots li.slick-active button{
    background-color:rgb(27, 164, 75);  
    border: 1px solid;
    border-color: #000;
   
}

.slick-dots li button{
    font-size: 0;
    width: 12px;
    height: 12px;
    background-color: #FFF;
    border: 1px solid;
    border-color: #000;
    
    border-radius: 50%;
}
.slider__right {
    max-height: 468px;
    overflow: hidden;
    margin-left: 5px;
}
@media (max-width:1199px) {
   .slider {
        max-width: 100%;
        height: 500px;
        overflow: hidden;
    }
    .slide .slider.slick-list {
        height: 441px;
    }
    .slider__right {
        height: 467px;
    }
}
@media (max-width:1150px) {
    .slide {
        width: 100%;
        height: 480px;
    }
    .slider__item {
        width: 760px;
        height: 430px;
        /* overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center; */
    }
    .slider .slider__item img {
        max-width: 760px;
        object-fit: cover;
    }
    .slider__right {
        height: 408px;
    }
  
}
@media (max-width:991px) {
    .slide {
        display: flex;
        width: 100%;
        height: 450px;
        justify-content: center;
        
    }
    .slider {
        max-width: 870px;
    }
    .slider__item {
        max-width: 870px;
        height: auto;
        /* overflow: hidden; */
        
    }
    .slider .slider__item {
        margin-left: 5px;
    }
    .slider .slider__item img {
        max-width: 100%;
        height:auto;
        object-fit: cover;
        
    }
    .slider__right {
       display: none;
    }
}

@media (max-width:768px) {
    .slide {
        display: flex;
        width: 100%;
        height: 400px;
        justify-content: center;
        
    }
    .slider {
        max-width: 670px;
    }
    .slider__item {
        max-width: 670px;
        height: auto;
        /* overflow: hidden; */
        
    }
    .slider .slider__item img {
        max-width: 100%;
        height:auto;
        object-fit: cover;
    }
    .slider__right {
       display: none;
    }
}
@media (max-width:670px) {
    .slide {
        display: flex;
        width: 100%;
        height: 350px;
        justify-content: center;
        
    }
    .slider {
        max-width: 576px;
    }
    .slider__item {
        max-width: 576px;
        height: auto;
        /* overflow: hidden; */
        
    }
    .slider .slider__item img {
        max-width: 100%;
        height:auto;
        object-fit: cover;
    }
    .slider__right {
       display: none;
    }

}

/* !Slaider1 */

/* !Slaider2 */
/* .slaider {
    width: 100%;
    height: auto;
    margin-top: 5px;
}
.slider__wrapper {
    display: flex;
}
.slider__right {
    max-height: 474px;
    overflow: hidden;
    margin-left: 5px;
}
.home__slider {
    display: flex;
    width: 100%;
    height: auto;
    overflow: hidden;
    
}
.home__slider .slide-single {
   
    width: 100%;
    height: auto;
    transition: all ease 1s;
    
}
.img__hidden {
    display: none;
    transition: all ease 1s;
}
.slider__pager {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.slider__pager ul {
    background-color: #667780;
    border-radius: 25px;
    padding: 5px 10px 10px 10px;
    
}
.slider__pager ul li {
    padding: 0 10px;
}
.slider__pager ul li button {
    font-size: 0;
    width: 13px;
    height: 13px;
    
    border-radius: 50%;
    background-color: white;
    transition: all ease .5s;
    
}
.slider__pager ul li button:hover {
   
    background-color: #0dac49;
    transition: all ease .5s;
      
}
.slider__pager .btn__hidden {
    background-color: #0dac49;
    transition: all ease .5s;
}
.slider__pager ul {
   display: flex;
}
@media (max-width:1199px) {
    .home__slider {
        width: 820px;
        height: auto;
        overflow: hidden;
    }
    .slider__right {
        height: 441px;
    }
}
@media (max-width:1150px) {
    .home__slider {
        width: 760px;
        height: auto;
        overflow: hidden;
    }
    .slider__right {
        height: 408px;
    }
    .slaider {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:991px) {
    .home__slider {
        width: 100%;
        height: auto;
        overflow: hidden;
        background-color: #f9e4b0;
    }
    .slider__right {
       display: none;
    }
   
} */
/* /.Slider */
/* Progress */
.our__progress {
    width: 100%;
    height: auto;
    margin-top: 30px;
    height: auto;
    display: flex;
    gap: 20px;
   
    
}
.progress {  
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 280px;
    gap: 10px;
   
}
.position__up {
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    gap: 10px;
    z-index: 3;
}
.position__up p {
    margin-bottom: 5px ;
}

.progress h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 500;
    width: 100%;
    
}
.progress p {
    font-family: 'Montserrat', sans-serif;
    height: 30px;
    line-height: 1;
}
.progress a {
    font-family:'Montserrat', sans-serif;
    padding: 10px 20px ;
    background-color:  #e1e4e6;
    border-radius: 25px;
    transition: all .6s;
    color: #222c34;
}
.progress a:hover {
    color: #f7f7f7;
    background-color: rgb(61, 61, 61);
    transition: all .6s;
}
.progress--three::before {
    content: "";
  
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url(../img/progress-bg.svg) 50% no-repeat;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.two__numb {
    display: flex;
    align-items: flex-end;
  
}
@media (max-width:1199px){
    .progress {
        margin-bottom: 20px;
    }
    .progress--three::before {
        background: url(../img/prog-tablet-bg.png) 50% no-repeat;
        background-size: cover;
    }
}
@media (max-width:991px){
    
    .our__progress {
        display: grid;  
        grid-template-columns: 1fr 1fr;
        margin-bottom: 20px;
       
    }
    .progress { 
     padding: 20px;
     background-color: white;
     
     box-shadow: 0 0 15px #667780;
  
    }
}
@media (max-width:576px){
    
    .our__progress {
        display: grid;  
        grid-template-columns: 1fr;
        margin-bottom: 20px;
       
    }
    .progress { 
     padding: 20px;
     background-color: white;
     
     box-shadow: 0 0 15px #667780;
  
    }
}

/* /.Progress */
/* Offers */
.offers {
    width: 100%;
    height: auto;
    display: flex;
    
    
}

.one__offers--1  img {
    position: absolute;
    width: 100%;
    object-position: center left;
    
    object-fit: cover;
    height: 100%;
    max-height: 500px;
    position: absolute;
    z-index: -1
   
}
.one__offers--2  img {
    position: absolute;
    width: 100%;
   
    bottom: 0;
    object-fit: cover;
    
    max-height: 500px;
    position: absolute;
    z-index: -1
   
}
.offers .one__offers {
    width: 50%;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}
.offers__desc {
    width: 100%;
    position: absolute;
    padding: 30px 60px;
    text-align: center;
    z-index: 4;
    top: 0;
   
}
.offers__desc h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    padding: 0 30px;
    line-height: 30px;
    letter-spacing: .2em;
    margin-bottom: 10px;
    color: #37474f;
    text-transform: uppercase;
}
.offers__text {
    font-family: inherit;
    color: #667780;
    font-size: 16px;
    line-height: 20px;
    /* padding: 0 50px; */
    margin-bottom: 10px;
}
.offers__btn {
    margin-top: 30px;
}
.offers__btn a {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #f7f7f7;
    background-color: #0dac49;
    padding: 14px 30px;
    border-radius: 25px;
    transition: all .6s;
}
.offers__btn a:hover {
    background-color: rgb(32, 124, 10);
    transition: all .6s;
}
@media (max-width:1199px){
    .offers {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
       
    }
    .one__offers img {
        display: none;
    }
    .offers .one__offers {
        width: 930px;
        height: 290px;
        margin-bottom: 20px;
        box-shadow: 0 0 15px #667780;
        
        
    }
    .offers__desc {
        padding: 20px 30px;
    }
    .offers__desc h2 {
        padding: 0;
    }
    .offers__text {
       
        padding: 0;
    }
   .one__offers--1 {
       
        background: url(../img/offers1200.webp) 50% no-repeat;
        background-size: cover;
    }
    .one__offers--2 {
       
        background: url(../img/offers2.webp) 120% no-repeat;
    }
    .one__offers--1 .offers__desc {
        position: absolute;
        width: 600px;
       
        text-align: end;
        z-index: 4;
        top: 0;
        right: 0;
       
    }
    .one__offers--2 .offers__desc {
        position: absolute;
        width: 400px;
       
        text-align: start;
        z-index: 4;
        top: 0;
        left: 0;
       
    }
}
@media (max-width:991px){
    .offers .one__offers {
        width: 730px;
        height: 290px;
        margin-bottom: 20px;
        box-shadow: 0 0 15px #667780;    
    }
   
}
@media (max-width:800px){
    .offers .one__offers {
        width: 530px;
        height: 290px;
        margin-bottom: 20px;
        box-shadow: 0 0 15px #667780;    
    }
    .offers__text {
        position: relative;
        height: auto;
        margin-bottom: 50px;
        font-weight: 500;
        color: #0c0c0c;
        margin-top: 50px;
       }
      
   
}
@media (max-width:576px){
    .offers__desc {
        width: 350px;
        height: 500px;
    }
    .offers__desc h2 {
        font-size: 24px;
    }
    .offers .one__offers {
        width: 350px;
        height: 320px;
        margin-bottom: 20px;
        box-shadow: 0 0 15px #667780;    
    }
   .offers__text {
    
    height: 70px;
    padding: 0;
   }
   .one__offers--2 .offers__text {
    margin-top: 60px;
   }
   .one__offers--2 {
       
    background: url(../img/offers2.webp)  -180% no-repeat;
    }
    .offers__btn a {
          padding: 6px 10px;
    }
}
/* /.Offers */

/* Tabs */
.tabs {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white; 
}
.tabs h2 {
    font-family: 'Montserrat', sans-serif;
    color: #37474f;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin: 30px 0;
   
}
.tabs__list {
    display: flex;
    gap: 20px;

}
.tabs__list li {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #26522d;
    padding: 10px 0;
    cursor: pointer;
    transition: all .6s;   
}
.tabs__hidden__underline {
   
    border-bottom: 1px solid #0dac49;
    transition: all .6s;
}

.tab__content {
    width: 100% ;
    display: flex;
    padding: 30px;
    overflow-x: scroll;   
}
.tab__items {
    margin: 0 10px;
}
.tab__items img {
 max-width: 370px;
 height: auto;
 margin-bottom: 20px;
   
}
.tabs__title {
    margin-bottom: 10px;
    height: 50px;
}
.tabs__title a {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 19px;
    font-weight: 500;
    color: #37474f; 
    text-transform: uppercase;
    transition: all .3s;
}
.tabs__title a:hover {
    color: #0dac49;
    transition: all .3s;
}
.tabs__price {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 19px;
    font-weight: 500;
    color: #37474f; 
}
.was__lens__price {
    text-decoration: line-through;
    color: #959796;
}
.num__lens {
    font-size: 13px;
    color: #959796;
}
.tabs__items__pictures {
    position: relative; 
}
.vob {
    font-family: inherit;
    font-size: 12px;
    font-weight: 500;
    color: #a6329a;
    padding: 5px 10px;
   
    display: flex;
    right: 50%;
    position: absolute;
    margin-top: -25px;
    background-color: rgba(166,50,154,.1);
    border-radius: 25px;
}
.tabs__hidden {
    display: none;
}
@media (max-width:576px){
    .tabs h2 {
        font-size: 18px;
    }
    .tabs li {
        font-size: 15px;
    }
}
/* /.Tabs */

/* Brands */
.brands {
    background-color: white;
}
.brands__wrap {
    padding: 50px 40px;
    display: flex;
}
.brands__list {
    display: flex;
    align-items: center;
    width: 100%;
    height: 122px;
    padding: 0 10px;
}
.brands__wrap img {
    max-width: 140px;
    height: auto;
}

@media (max-width:1200px) {
    .brands__wrap img {
        max-width: 110px;
        height: auto;
    }
}
@media (max-width:991px) {
    .brands__wrap img {
        max-width: 100px;
        height: auto;
    }
  .brands__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .brands__list {
    display: flex;
    justify-content: center;
  }

}
/* /.Brands */

/* Lenses */
.lenses {
    display: flex;
    position: relative;
    width: 100%;
    height: 330px;
    background-color: #222c34;
    background: url(../img/bg-lenses.jpg) no-repeat;
    margin-bottom: 50px;
    z-index: 7;
   
}
.lenses__desc {
    position: absolute;
    padding: 0 80px 0 0;
   
    bottom: 30%;
    right: 0;
    z-index: 8;
}
.lenses__title {
    text-align: end;
    font-family: inherit;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: .2em;
    color: #f7f7f7;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.lenses__link {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.lenses__link a {
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    text-transform: uppercase;
   
    padding: 10px 15px;
    color: #ffff;
    font-size: 12px;
    border-radius: 25px;
    background-color: rgba(225,228,230,.2);
}
.lenses__link a:hover {
    background-color: rgba(70, 145, 185, 0.2);
}
@media (max-width:991px){
    .lenses__link {
        max-width: 500px;
      
        justify-content: end;
    }
}
@media (max-width:768px){
    .lenses {
        background: url(../img/lenses-mobile.jpg) 50% no-repeat;
        background-size: cover;
        justify-content: center;
    }
    .lenses__desc {
      padding: 0;
       left: auto;
       right: auto;
    }
    .lenses__title{
        text-align: center;
        
     }
     .lenses__link {
        justify-content: center;
        
     }
}
/* /.Lenses */

/* Tabs2 */
.tabs__2 {
    text-align: center;
  
   
}
.tabs__2 h2 {
    font-family: inherit;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #37474f;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2em;
    padding: 30px;
}
.tabs__2 .tab__items {  
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 3px  #222c34;
}
.tabs__2 .tab__items img {
    width: 370px;
    height: 370px;
}
.tabs__2 .tabs__list {
    justify-content: center;
}

@media (max-width:768px){
    .tabs__2 .tabs__list {
        display: inline-block;
    }
    .tabs__2 h2 {
        padding: 10px;
        margin-bottom: 10px;
    }
   
}
@media (max-width:576px){
   
    .tabs__2 h2 {
        font-size: 18px;
    }
    .tabs__2 li {
        font-size: 15px;
    }
    .tabs__2 .tab__items img {
        width: 270px;
        height: 270px;
    }
   .tabs__2 .tabs__items li {
    width: 230px;
   
   
   }
}
/* /.Tabs2 */

/* Subscribe */
.subscribe {
    position: relative;
    margin-top: 50px;
    z-index: 8;
   
}

.subscribe img {
    max-width: 1200px;
}
.subs__items {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    top: 0;
    position: absolute;
    z-index: 9;
    margin-left: 30px;
}
.subs__title h2 {
    font-size: 24px;
    font-weight: 700;
    font-family: inherit;
    letter-spacing: .2em;
    color: #37474f;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.subs__text {
    margin-bottom: 20px;
}
.subs__text p {
    font-family: inherit;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #26522d;
}
form {
   margin-bottom: 15px;
}
.subscribe form input {
    width: 480px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
    padding: 0 20px;
}
.subscribe .btn {
    margin-left: -80px;
    font-family: inherit;
    text-transform: uppercase;
    padding: 17px 30px;
    color: #f7f7f7;
    background-color: #0dac49;
    border-radius: 25px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
    transition: all .3s;
}
.subscribe .btn:hover {
    background-color: #26522d;
    transition: all .3s;
}
.subs__in {
    display: flex;
    justify-content: center;
    width: 500px;
}
.subs__in small {
    color: #26522d;
    font-family: inherit;
    font-size: 13px;
    margin-left: 10px;
    line-height: 20px;
    
}
.subs__in input {
    margin: 5px 5px;
    padding: 10px 10px;
}
@media (max-width:1200px) {
    .subscribe {
        display: grid;
        justify-items: center;
    
    }
    .subscribe img {
        width: 900px;
        object-fit: cover;
    }
    .subscribe form input {
        width: 350px;
    }
}
@media (max-width:991px) {
    .subscribe {
        margin: 0 20px;
        margin-top: 0;
        display: grid;
        height: 400px;
        justify-items: center;
        background: url(../img/subs-bg.jpg) 60% no-repeat;
    
    }
    .subs__title h2 {
        font-size: 18px;
    }
    .subscribe img {
        display: none;
    }
    .subscribe form {
        display: flex;
        align-items: center;
    }
    .subscribe form input {
        width: 250px;
    }
    .subscribe form button {
        font-size: 0;
        background-image: url(../img/arr-white.svg);
        background-position: 50%;
        background-repeat: no-repeat;
      
        border-radius: 50%;
    }
    .subscribe .btn {
        margin: 0 0 0 -50px;
        padding: 25px;
    }
    .subs__in small {
        color: #222c34;
    }
}
/* /.Subscribe */
/* /.Main */

/* Footer */
 /* Footer__top */

 .footer__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: white;
    padding: 30px 0;
 }
 .footer__top {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
 }
 .contacts, .help, .info {
    padding: 25px;
    width: 25%;
    border-right: 1px solid rgba(0,0,0,.1);
 }
 .cabinet {
    padding: 25px;
    width: 25%;
 }
 .cont__title {
    color: #667780;
    font-size: 13px;
    font-weight: 500;
    margin: 15px 0;
 }
 .cont_num img {
    margin-right: 13px;
 }
 .cont_num a {
    color: #0c0c0c;
    font-weight: 500;
 }
 .works__item {
    display: flex;
 }
 .works__item img {
   margin: -33px 15px 0 0;
 }
 .works__day p {
    font-family: inherit;
    font-weight: 500;
 }
 .works__day p+p {
    
    margin: 10px 0;
 }
 .cont__soc .cont__title {
    margin-top: 5px;
 }
 
 .soc__icon a {
    font-size: 25px;
    color: #667780;
    margin: 15px;
    transition: all .6s;
 }

 .soc__icon a:hover {
    color: #0dac49;
    transition: all .6s;
 }
 
 .help h2, .info h2, .cabinet h2 {
    font-size: 16px;
    font-family: inherit;
    font-weight: 700;
    margin: 15px 0;
    color: #37474f;
    text-transform: uppercase;
    letter-spacing: .1em;
 }

 .help li, .info li, .cabinet li {
    margin-bottom: 20px;
    font-size: 13px;
   font-weight: 500;
 }
 .help a, .info a, .cabinet a {
    color: #222c34;
    transition: all .3s;
 }
 .help a:hover, .info a:hover, .cabinet a:hover {
    color: #0dac49;
    transition: all .3s;
 }
 @media (max-width:991px){
    .footer__top {
        display: flex;
        flex-wrap: wrap;
    }
    .contacts, .help, .info, .cabinet {
        width: 50%;
    }
 }
 /* /.Footer__top */

 /* Footer__bot */
 .bot__wrapper {
    padding: 30px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #e3e6e8;
 }
 .cards__title {
    font-size: 14px;
    color: #667780;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: inherit;

 }
 .footer__cards a {
    margin: 0 23px;
 }

 .bot__logo {
    margin-right: 30px;
    position: absolute;
    right: 0; 
 }
 .bot__logo img {
    margin-bottom: 10px;
 }
 .copy {
    font-family: inherit;
    color: #667780;
    font-weight: 500;
 }
 @media (max-width:991px){
   .bot__wrapper {
    justify-content: left;
   }
 }
 @media (max-width:576px){
    .bot__wrapper {
        flex-wrap: wrap;
     flex-direction: column;
    }
    .footer__bot {
        width: 100%;
    }
    .bot__logo {
        margin-top: 20px;
        position: relative;
        width: 100%;
    }
  }
 /* /.Footer__bot */
/* /.Footer */

/* Modal */
.modal {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 25;
    background-color: rgba(0, 0, 0, 0.69);
}
.modal__footer {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: absolute;
  
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
    background-color: rgba(0, 0, 0, 0.69);

}
.modal__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal__window {
    position: relative;
    width: 475px;
    height: 615px;
    background-color: #FFFF;
}
.modal__item {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal__item p {
    margin: 5px 0;
}
.modal__contact a {
    font-size: 40px;
    padding: 20px;
    color: #667780;
    transition: all .5s;
}
.modal__contact a:hover {
    transition: all .5s;
    color: #0dac49;
}
.modal__item form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal__item form a {
    margin: 10px 0;
    font-family: inherit;
    font-weight: 500;
    color: #0dac49;
    border-bottom: 1px dashed #0dac49;
}
.modal__item form button {
    margin: 10px 0;
    
    background-color: #0dac49;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-transform: uppercase;
}
.modal__item form button:hover {
    
    background-color:#26522d;
   
}
.form form input {
    width: 250px;
    height: 50px;
    margin: 15px 0;
    padding: 0 30px;
    border-radius: 25px;
    box-shadow: 0 0 15px #667780;

}
.modal__title h2 {
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    color: #37474f;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.sign__up {
   padding: 40px 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #f5f2f7;
}
.sign__up a {
    
    margin-left: 5px;
    font-family: inherit;
    font-weight: 500;
    color: #0dac49;
    border-bottom: 1px dashed #0dac49;
}
.modal__hidden {
    display: none;
   
}

/* /.Modal */
